<section class="posts-section">

	<h1 class="title">DASHBOARD</h1>

	<ul class="tabs">
		<li>
			<input type="radio" checked name="tabs" id="tab1">
			<label for="tab1">Facbook</label>
			<div id="tab-content1" class="tab-content animated fadeIn">
				<!--div>
				<% if%>
					 <% if @posts %>
						 <% for post in @posts %>
						 	<%= h post["name"] %>
						 	<br>
						 <% end %>
					 <% end %>
					 <%= link_to 'Next', url_for(:page => @posts.next_page_params), :class => 'next-page' %>
				 <% end %>
				</div-->
			<div id="post" class="float-left">
				<img src="/assets/profile-ico2.jpg">
				<h1 id="name">Islam Wazery</h1>
				<h1 id="date">July 20, 2013</h1>
				<p>Thank you all for the great Iftar and company that I had today! — feeling blessed with Mohammed Gamal and 14 others.</p>
			</div>
			<div id="post" class="float-right">
				<img src="/assets/profile-ico.jpg">
				<h1 id="name">Fayruz Raisa</h1>
				<h1 id="date">November 29, 2013</h1>
				<p>Thank you, Facebook fans, for helping make these 12 stories our most popular posts of the year.</p>
			</div>
			<div id="post" class="float-left">
				<img src="/assets/profile-ico3.jpg">
				<h1 id="name">Islam Wazery</h1>
				<h1 id="date">December 23, 2013</h1>
				<p>Thank you all for the great Iftar and company that I had today! — feeling blessed with Mohammed Gamal and 14 others.</p>
			</div>
			</div>
		</li>
		<li>
			<input type="radio" name="tabs" id="tab2">
			<label for="tab2">Twitter</label>
			<div id="tab-content2" class="tab-content animated fadeIn">
			...
			</div>
		</li>
	</ul>

</section>