<section class="about-section">

	<h1 class="about-title">ABOUT</h1>

	<p class="about-paragraph">See your most active statuses in each year. With a chronographical view. It integrates with facebook and twitter.You can connect your facebook and twitter profiles, and get the highest activites of each year. You can export them to a CSV file and save it to your machine or send it to someone. It allows you to mark one of your activites and repost it to your facebook or twitter profile to share it with your fellows.</p>

</section>