<!DOCTYPE html>
<html>
<head>

	<title>Firn, Social Activites</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>


<a href="/home/index"> <img id="logo" src="/assets/logo.png" alt="Firn, the social activities!" /> </a>

<section class="top-bar-section">
<ul>
	<li id="menu-item-1"> <a href="/login">Login</a> </li>
	<li id="menu-item-2"> <a href="/about">About</a> </li>
	<li id="menu-item-3"> <a href="/dashboard">Dashboard</a> </li>
</ul>

</section>
<div id="one">

	<p>Connect your twitter and facebook accounts </br> 
	Get your firn activites
	</p>

</div>

</body>
</html>
