<!DOCTYPE html>
<html>
<head>

	<title>Firn, Social Activites</title>

</head>


<a href="/"> <img id="logo" src="/assets/logo.png" alt="Firn, the social activities!" /> </a>

<section class="top-bar-section">

<nav>
	<a href="/dashboard">dashboard</a> 
	<a href="/about">About</a>
	<a href="/login">Login</a>
</nav>

<h1 id="main-text">Connect your twitter and facebook accounts </br> 
	Get your firn activites
</h1>

</section>

<div class="button-container">
<a href="/signup" id="signup-button"> Signup for free account </a>
</div>

<section id="testimonials-section">
	
</section>

<footer>
	<p id="appreciation-text">Show your appreciation</p>
	<p id="copyright-text">© 2013 Firn.</p>
</footer>
</body>
</html>
