<section class="posts-section">

	<h1 class="title">Dashboard</h1>

	<ul class="tabs">
		<li>
			<input type="radio" checked name="tabs" id="tab1">
			<label for="tab1">Facbook</label>
			<div id="tab-content1" class="tab-content animated fadeIn">
			...
			</div>
		</li>
		<li>
			<input type="radio" name="tabs" id="tab2">
			<label for="tab2">Twitter</label>
			<div id="tab-content2" class="tab-content animated fadeIn">
			...
			</div>
		</li>
	</ul>

</section>