<!DOCTYPE html>
<html>
<head>

	<title>Firn, Social Activites</title>

</head>


<a href="/"> <img id="logo" src="/assets/logo.png" alt="Firn, the social activities!" /> </a>

<section class="top-bar-section">

<nav>
	<a href="/dashboard">dashboard</a> 
	<a href="/about">About</a>
	<a href="/login">Login</a>
</nav>

<h1 id="main-text">Connect your twitter and facebook accounts </br> 
	Get your firn activites
</h1>

</section>

<div class="button-container">
<a href="/signup" id="signup-button"> Signup for free account </a>
</div>

<section id="testimonials-section">

	<h1>
		See your most active twitter statuses in each year. With a chronographical view. It also integrates with facebook.
	</h1>
	<h2 id="topic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</h2>
	<img id="topic-icons" src="/assets/topic-icons.png"/>
	<div id="testimonial1">
	<img src="/assets/refat-profile.png"/>
	<h2 id="testimonial1-name">Ahmed Refat</h2>
	<h2 id="testimonial1-company">Google</h2>
	<div id="testimonial1-box"> 
	<h2> "Ana dyman ba2ol em el application dah gamed geddy. </br>
	 Law msh ,esda2ny garab. Ana ha3'eshak ya3ny wala eh?"
	 </h2>
	 </div>
	</div>
</section>

<section id="features">
	<h1>Features</h1>

	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</h2>
</section>
	
<footer>
	<p id="appreciation-text">Show your appreciation</p>
	<p id="copyright-text">© 2013 Firn.</p>
</footer>
</body>
</html>
