<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; /charset=UTF-8">
	<title>Firn, Social Activites</title>

	<meta name="viewport" ="width=device-width, initial-scale=1.0, maximum-scale-2.0"/>

</head>

<body>

<div class="wrapper"/>

<nav class="nav-bar">
	<div class="nav-hold">
		<a href="#" class="nav-logo"> 
			<img id="logo" src="/assets/logo.png" alt="Firn, the social activities!" /> 
		</a>
		<a class="nav-menu" href="#menu">Menu &#9776;</a>
		<ul class="nav-list" id="nav">
			<li> <a href="/dashboard">dashboard</a> </li>
			<li> <a href="#about">About</a> </li>
			<li> <a href="/login">Login</a> </li>
		</ul>
	</div>
</nav>


<section class="top-bar-section">

	<h1 id="main-text">Connect your twitter and facebook accounts, </br> 
		Get your firn activites
	</h1>

	<div class="button-container">
		<a href="/signup" id="signup-button">Signup For Free Account </a>
	</div>
	<div class="button-container-small">
		<a href="/signup" id="signup-button">Signup</a>
	</div>

</section>

<section id="testimonials-section">

	<h1>
		See your most active twitter statuses in each year. With a chronographical view. It also integrates with facebook.
	</h1>
	<div id="testimonial1">
		<img src="/assets/karim-profile.png"/>
		<h2 class="testimonial-name">Karim Ahmed</h2>
		<h2 class="testimonial-company">Amanita Design</h2>
		<div class="testimonial-box"> 
			<h2> "Ana dyman ba2ol en el application dah gamed geddy. Law msh ,esda2ny garab. Ana ha3'eshak ya3ny wala eh?"
			 </h2>
		 </div>
	</div>
	<div id="testimonial2">
		<img src="/assets/refat-profile.png"/>
		<h2 class="testimonial-name">Ahmed Refat</h2>
		<h2 class="testimonial-company">Google</h2>
		<div class="testimonial-box"> 
			<h2> "Ana dyman ba2ol en el application dah gamed geddy. Law msh ,esda2ny garab. Ana ha3'eshak ya3ny wala eh?"
			 </h2>
		 </div>
	</div>
	<h2 id="topic">Yes they are, if you take a screenshot of the jsfiddle and measure the left and right margins in Photoshop you'll see they're the same. Well left margin is 446px and right margin 445px but that's down to the width of the elements. Those px values will obviously change depending on your screen size and/or the size of the jsfiddle pane.
	</h2>
	<img id="topic-icon" src="/assets/topic-icon.png"/>
</section>

<section id="features">
	<h1>Take control over your design feedback and build a flawless  relationship with your clients.
	</h1>

	<!--p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</p-->

	<div class="row-1">
		<span class="icon-features-visual">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
	<div class="row-2">
		
	</div>
</section>
	
<footer>
	<p id="appreciation-text">Show your appreciation</p>
	<p id="copyright-text">© 2013 Firn.</p>
</footer>
</body>
</html>
