<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; /charset=UTF-8">
	<title>Firn, Social Activites</title>

	<meta name="viewport" ="width=device-width, initial-scale=1.0, maximum-scale-2.0"/>

</head>

<body>

	<div id="fb-root"></div>
	<script>(
		function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script type="text/javascript" src="https://apis.google.com/js/platform.js">
	</script>

	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>

	<div class="wrapper"/>

	<nav class="nav-bar">
		<div class="nav-hold">
			<a href="#" class="nav-logo"> 
				<img id="logo" src="/assets/logo.png" alt="Firn, the social activities!" /> 
			</a>
			<a class="nav-menu" href="#menu">Menu &#9776;</a>
			<ul class="nav-list" id="nav">
				<li> <a href="/dashboard">dashboard</a> </li>
				<li> <a href="#about">About</a> </li>
				<li> <a href="/login">Login</a> </li>
			</ul>
		</div>
	</nav>


	<section class="top-bar-section">

		<h1 id="main-text">Connect your twitter and facebook accounts, </br> 
			Get your firn activites
		</h1>

		<div class="button-container">
			<a href="#signup" id="signup-button">Signup For Free Account </a>
		</div>
		<div class="button-container-small">
			<a href="#signup" id="signup-button">Signup</a>
		</div>

	</section>

	<section id="testimonials-section">

		<h1>
			See your most active statuses in each year. With a chronographical view. It integrates with facebook and twitter.
		</h1>

		<h2 id="heading">Some Kind Words From Other Devs</h2>

		<div id="testimonial1">
			<img src="/assets/karim-profile.png"/>
			<h2 class="testimonial-name">Karim Ahmed</h2>
			<h2 class="testimonial-company">Amanita Design</h2>
			<div class="testimonial-box"> 
				<h2> "I simply love Firn! It makes it easier for me to remember great moments of my social life. My friends were very happy when I reshared these moments with them."
				 </h2>
			 </div>
		</div>

		<div id="testimonial2">
			<img src="/assets/refat-profile.png"/>
			<h2 class="testimonial-name">Ahmed Refat</h2>
			<h2 class="testimonial-company">Google</h2>
			<div class="testimonial-box"> 
			<h2>"Firn has proved extremely useful for seeing your highest activites and share them. I enjoyed using it and I have shared it to my connections."
			 </h2>
		 	</div>
		</div>

		<p id="topic">You can connect your facebook and twitter profiles, and get the highest activites of each year. You can export them to a CSV file and save it to your machine or send it to someone. It allows you to mark one of your activites and repost it to your facebook or twitter profile to share it with your fellows.
		</p>

		<img id="topic-icon" src="/assets/topic-icon.png"/>

	</section>

	<section id="features">

		<h1>Take control over your design feedback and build a flawless  relationship with your clients.
		</h1>

		<span class="features-visual-icon">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>

	</section>

	<section id="signup" class="signup">
		<p id="signup-title">Sign up for Free and start using Firn right away.</p>

		<input id="signup-email" type="email" name="email" placeholder="Enter your email e.g. email@website.com">

		<span class="email-icon"></span>

		<input id="signup-password" type="password" name="password" placeholder="Enter your password">

		<span class="password-icon"></span>

	</section>
		
	<footer>
		<p id="appreciation-text">Show your appreciation</p>

		<div class="social-buttons">
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

			<div class="g-plusone" data-size="medium" data-href="http://firn.herokuapp.com/">
			</div>

			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://firn.herokuapp.com/" data-text="Ever want to see your highest facebook posts or tweets in a year? Then use Firn!" data-via="wazery_" data-hashtags="heroku,rails">Tweet</a>

			<p>On Github</p>

	  		<iframe class="github-fork" src="http://ghbtns.com/github-btn.html?user=wazery&repo=Firn&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="50" height="20" count="true"></iframe>

	  		<iframe src="http://ghbtns.com/github-btn.html?user=wazery&repo=Firn&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="58" height="20"></iframe>

			<iframe class="github-follow" src="http://ghbtns.com/github-btn.html?user=wazery&repo=Firn&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20" count="true"></iframe>
  		</div>

		<ul class="footer-text">
			<li class="copyright-text">All rights are reserved © 2013 Firn.
			</li>

			<li class="created-by">Created by Islam Wazery,
				<a href="mailto:wazery@ubuntu.com?Subject=Hola%20Wazery" target="_top">Drop a mail</a>
			</li>
		</ul>

		<ul class="footer-links">
			<li id="about">About</li>
			<li id="blog"><a href="/blog">Our Blog</a></li>
			<li id="purpose"><a href="#purpose">Our Purpose</a></li>
		</ul>

		<div class="footer-icons">
			<a id="fb-icon" href="http://www.fb.com/islamwazery"> <img src="/assets/facebook.png"> </a>
			<a id="twitter-icon" href="http://www.twitter.com/wazery_"> <img src="/assets/twitter.png"> </a>
			<a id="github-icon" href="http://www.github.com/wazery"> <img src="/assets/github.png"></a>
		</div>

	</footer>
</body>
</html>
