// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@viewport {
	zoom: 1.0;
	width: device-width;
}

body {
	background-image: url('/assets/sd1.jpg');
	background-color: #cccccc;
	//background-position: -180px -180px;
	background-repeat: no-repeat;
	//-webkit-background-size: cover;
	//-moz-background-size: cover;
	background-size: 100% auto;

	font-family: "Montserrat","Helvetica","Arial";
	-webkit-font-smoothing:antialiased;

	overflow-y: scroll;
	overflow-x: hidden;
}

.wrapper {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: white;
}

/* WIDTH SETTING */
.nav-bar {
	width: 100%;
}

.nav-hold {

	float: left;
	width: 95%;
	max-width: 1360px;
	margin: 0 auto;
}

.nav-logo {
	float: left;
	display: block;
	padding-left: 4%;
}

.nav-list {
	float: right;
	margin-top: 2%;
}

.nav-list {
	float: right;
	padding-top: 2%;
	margin-top: 2%;
}

.nav-list li {
	//display: inline;
	padding-right: 20px;
	float: left;
}

.nav-list li a {
	color: #f9f9f9;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.nav-list li a:hover {
	padding-bottom: 5px;
	border-bottom: 3px solid #f9f9f9;
}

.nav-menu {
	display: none;
}

.top-bar-section {
	color: white;
	width: 70%;
	margin: 0 auto;
	padding: 12% 4% 2% 6%;

	font-weight: bold;
	text-transform: uppercase;
}

.top-bar-section nav {
	float: right;
	padding-right: 4%;
}

.top-bar-section #main-text {
	font-size: 1.6em;
	letter-spacing: 5px;
	text-align: center;
}

.button-container  {
	width: 30%;
	margin: 0 auto;
	padding: 6% 0 4% 0; 
	font-size: 0.8em;
}

.button-container-small {
	width: 15%;
	margin: 0 auto;
	padding: 6% 0 4% 0; 
	display: none;
}

#signup-button {
	background: #f06d26 url('/assets/icn_arrow_white.png') no-repeat 120% center;
	color: #fff;
	border-radius: 20px;
	padding: 15px 10px;
	padding-right: 25px;

	box-shadow: #e94e16 0px -2px 0px 0 inset,rgba(0,0,0,0.2) 0px 3px 2px 0;
	text-decoration: none;

	transition: all 200ms ease-in-out;
}

 #signup-button:hover {
	background-color: rgba(62, 130, 139, 0.4);
	box-shadow: #116881 0px -2px 0px 0 inset,rgba(0,0,0,0.2) 0px 3px 2px 0;
	background-position: 98%;
}

#features-section {
	background-color: rgb(245, 246, 246);
	width: 100%;
	text-shadow: 0 1px 0 white;
	padding-left: 4%;
}

#features-section h1 {
	color: rgba(0,0,0,.6);
	font-size: 1.2em;
	width: 45%;
}

#topic1-heading {
	padding: 2% 0 1% 0;
}

#topic2-heading {
	float: right;
	margin-top: -5%;
	padding: 2% 3% 1% 2%;
}

#features-section #topic, #topic2{
	color: rgba(0,0,0,.8);
	font-size: 1em;
	line-height: 1.4em;
	width: 44%;
	padding-bottom: 2%;
}

#topic2 {
	float: right;
	width: 38%;
	margin-right: -40%;
	padding-top: 2%;
	padding-left: 2%;
}

#features-section #heading {
	color: rgba(0,0,0,.6);
	font-weight: bold;
	font-size: 1em;
}

#topic-icon {
	float: right;
	margin-top: -14%;
	margin-right: 9%;
	//padding-bottom: 2%;
}

#topic2-icon {
	margin-bottom: 2%;
}

#testimonials {
	background-color: rgba(229, 229, 229,1);
	height: 395px;
	width: 100%;
	display: block;
}

#testimonials h1 {
	font-weight: bold;
	font-size: 1.4em;
	text-align: center;
	line-height: 1.2em;
	color: #5e5e5e;
	padding: 2% 2% 2% 4%;
}

.testimonials-visual-icon{
	background-image: url('/assets/icons.png');
	background-repeat: no-repeat;
    background-position: 0 0;
    width: 180px;
    height: 180px;
}

#testimonial1 {
	float: left;
	width: 20%;
	margin-left: 12%;
}

#testimonial2 {
	float: left;
	width: 20%;
	margin-left: 4%;
}

#testimonial3 {
	float: left;
	width: 20%;
	margin-left: 12%;
}

.testimonial-name, .testimonial-company,
#testimonial1 img, .testimonial-name,
.testimonial-company, #testimonial2 img, #testimonial3 img{
	padding-left: 45%;
}
.testimonial-name {
	font-size: 15px;
	padding-left: 48%;
}

.testimonial-company {
	color: #128181;
	font-size: 20px;
	display: block;
	padding-left: 34%;
	text-align: center;
}

.testimonial-box {
	background-color: white;
	border-radius: 5px;
	width: 380px;
	box-shadow: 1px 1px 1px #d3d3d3;
	margin-top: 2%;
}

.testimonial-box h2 {
	color: #275674;
	font-style: italic;
	font-size: .9em;
	text-align: center;
	line-height: 1.8em;
	padding: 4% 4% 4% 4%;
}

.icon-features-prototypes {
    background-position: 0 -540px;
    width: 180px;
    height: 180px;
}
.icon-features-share {
    background-position: 0 -360px;
    width: 180px;
    height: 180px;
}
.icon-features-versioning {
    background-position: 0 -180px;
    width: 180px;
    height: 180px;
}

.row-1 {
	padding-left: 2%;
}

.features-visual-icon{
	padding-left: 4%;
}

.signup {
	background-color: rgb(245, 246, 246);
}

.signup #signup-title {
	font-weight: bold;
	font-size: 1.8em;
	text-align: center;
	line-height: 1.2em;
	color: #5e5e5e;
	padding: 2% 2% 6% 4%; 
}

input[type="email"], input[type="password"] {
	border-radius: 5px;
	box-shadow: 1px 1px 1px #E5E5E5;
	width: 35%;
	height: 50px;
	margin: -2% -4% 8% 6%;
	padding-left: 1%;
	border: none;
	outline: none;
}

input[type="email"]:hover, input[type="password"]:hover {
	box-shadow: 1px 1px 2px #bcbaba;
}
input[type="email"]:focus, input[type="password"]:focus {
	box-shadow: 1px 1px 1px #a3a3a3;
}

.signup-button {
	float: right;
	background-color: #F06D26;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #bcbcbc;
	width: 10%;
	height: 53px;
	margin-top: -1.7%;
	margin-right: 6%;
	padding-top: .4%;
	color: white;
	text-align: center;
	line-height: .8em;
	font-size: 1.1em;
	font-weight: bold;
	transition: all 200ms ease-in-out;
	border: none;
	outline: none;
	cursor: pointer;
}

.signup-button:hover {
	background-color: #f47d3d;
}

.signup .email-icon{
	background: url("/assets/icons.png");
	width: 18px;
	height: 18px;
	background-position: 0 -954px;
	position: absolute;
	//margin: 1.1% 0 0 -3%;
}

.signup .password-icon{
	background: url("/assets/icons.png");
	width: 18px;
	height: 18px;
	background-position: 0 -936px;
	position: absolute;
	//margin: 1% 0 0 -2.6%;
}

.signup-fb {
	float: left;
	background-color: #4763B2;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #bcbcbc;
	width: 15%;
	height: 30px;
	margin-top: -5%;
	margin-left: 6%;
	padding-top: .5%;
	text-align: center;
	line-height: 1.8em;
	font-size: .8em;
	font-weight: bold;
	transition: all 200ms ease-in-out;
	border: none;
	outline: none;
	cursor: pointer;
}

.signup-fb:hover {
	background-color: #6984ce;
}

.signup-twitter {
	float: left;
	background-color: #7CC3E5;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #bcbcbc;
	width: 15%;
	height: 30px;
	margin-top: -5%;
	margin-left: 22%;
	padding-top: .5%;
	text-align: center;
	line-height: 1.8em;
	font-size: .8em;
	font-weight: bold;
	transition: all 200ms ease-in-out;
	border: none;
	outline: none;
	cursor: pointer;
}

.signup-twitter:hover {
	background-color: #96d8f7;
}

.signup #have-account {
	float: left;
	color: #999;
	margin-top: -4.2%;
	margin-left: 38%;
}

.signup #have-account a {
	color: #F06D26;
}

footer {
	font-size: 14px;
	background-color: #ffffff;
	width: 100%;
	height: 272px;
}

#appreciation-text {
	color: #3a3a3a;
	-webkit-text-stroke: 0.5px;
	padding: 3% 0 2% 4%;
}

.footer-text {
	float: left;
	display: inline;
	width: 100%;
}

.copyright-text {
	float: left;
	padding: 0 0 2% 4%;
}

.created-by {
	float: left;
	width: 55%;
	text-align: center;
}

.created-by a,
#blog a,
#purpose a,
.footer-anchors {
	color: #999;
}

.created-by a:hover,
#blog a:hover,
#purpose a:hover,
.footer-anchors a:hover{
	color: #F06D26;
}

.social-buttons {
	float: left;
	//margin: 0 auto;
	padding: 0 0 2% 4%;
	display: inline-block;
}

.social-buttons p {
	color: #999;
	padding: 4% 0 2% 0;
	margin-bottom: 2%;
}

.fb-like {
	margin-right: 4%;
}

.g-plusone {
	margin-right: 4%;
	margin-left: 1%;
}

.twitter-share-button {
	margin-left: -4%;
}

.github-fork {
	margin-right: 2%;
}

.footer-links {
	float: right;
	margin: -14% 4% 0 0;
	text-align: right;
	line-height: 1.8em;
}

.footer-links #about{
	font-weight: bold;
}

.footer-icons {
	position: absolute;
	left: 46%;
	margin-top: 4%;
	//bottom: 2%;
}

.footer-icons img:hover {
	opacity: .8;
}