// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@viewport {
	zoom: 1.0;
	width: device-width;
}

body {
	background-image: url('/assets/bg-night.png');
	background-color: #cccccc;
	background-repeat: no-repeat;

	font-family: "Montserrat","Helvetica","Arial";

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 1000px;
}

a {
	text-decoration: none;
}

/* WIDTH SETTING */
.nav-bar {
	width: 100%;
	padding-top: 1%;
}

.nav-hold {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 95%;
	max-width: 1360px;
	margin: 0 auto;
}

.nav-logo {
	float: left;
	display: block;
}

.nav-list {
	float: right;
	margin-top: 2%;
}

.nav-list li {
	//display: inline;
	padding-right: 20px;
	float: left;
	display: block;
}

.nav-list {
	float: right;
	margin-top: 2%;
}

.nav-list li {
	//display: inline;
	padding-right: 20px;
	float: left;
}

.nav-list li a {
	color: #f9f9f9;

	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;

	-webkit-font-smoothing: antialiased;

	text-transform: uppercase;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.nav-list li a:hover {
	padding-bottom: 5px;
	border-bottom: 3px solid #f9f9f9;
}

#nav-menu {
	display: none;
}

.nav-list li a {
	color: #f9f9f9;

	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;

	-webkit-font-smoothing: antialiased;

	text-transform: uppercase;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.nav-list li a:hover {
	padding-bottom: 5px;
	border-bottom: 3px solid #f9f9f9;
}

#nav-menu {
	display: none;
}

.top-bar-section {
	color: white;
	//float: center;
	position: relative;
	top: 50px;
	//right: 200px;
	letter-spacing: 5px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Montserrat","Helvetica","Arial";
	-webkit-font-smoothing:antialiased;
	text-transform: uppercase;
}

.top-bar-section nav {
	float: right;
	//position: absolute;
	//top: 20px;
	//right: 15px;
	padding-right: 4%;
}

.top-bar-section #main-text {
	font-size: 35px;
	text-align: center;
	font-style: normal;
	float: left;
	width: 100%;
}

.button-container {
	position: absolute;
	//top: 290px;
	//left: 320px;
	top: 47%;
	left: 39%;
	width: 100%;
	text-transform: uppercase;
	font-size: 1.1em;
}

.button-container a {
	background: #f06d26 url('/assets/icn_arrow_white.png') no-repeat 110% center;
	color: #fff;
	border-radius: 8px;
	padding: 15px 10px;
	padding-right: 25px;

	box-shadow: #e94e16 0px -2px 0px 0 inset,rgba(0,0,0,0.2) 0px 3px 2px 0;
	text-decoration: none;
	font-weight: bold;

	transition: all 200ms ease-in-out;
}

.button-container a:hover {
	background-color: rgba(255,180,50, 0.5);
	background-position: 98%;
}

#testimonials-section {
	background-color: #F5F6F6;
	position: absolute;
	top: 65%;
	left: 0;
	height: 50%;
	width: 100%;
	font-family: "Montserrat","Helvetica","Arial";
	text-shadow: 0 1px 0 white;
}

#testimonials-section h1 {
	color: rgba(0,0,0,.6);
	font-size: 18px;
	padding-left: 4%;
	width: 38%;
}

#testimonials-section #topic {
	color: rgba(0,0,0,.8);
	font-size: 15px;
	padding-left: 4%;
	width: 38%;
}

#topic-icons {
	padding-top: 2%;
	padding-left: 4%;
}

#testimonial1 {
	position: absolute;
	top: 10%;
	left: 50%;
}

#testimonial1-name {
	position: absolute;
	top: 95%;
	left: 10%;
	font-size: 15px;
}

#testimonial1-company {
	color: #128181;
	position: absolute;
	top: 110%;
	left: 22%;
	font-size: 20px;
}

#testimonial1-box {
	background-color: #E5E5E5;
	position: absolute;
	top: 160%;
	left: -70%;
	border-radius: 4%;
	height: 80%;
	width: 320px;
	box-shadow: 0px 2px 5px .3px rgba(0,0,0,.3);
}

#testimonial1-box h2 {
	color: #5e5e5e;
	font-size: 13px;
	line-height: 1.8em;
	padding-right: 2%;
	padding-left: 2%;
}

#features {
	background-color: #e5e5e5;
	position: absolute;
	top: 750px;
	left: 0;
	height: 290px;
	width: 100%;
}

#features h1{
	color: #5e5e5e;
	padding-left: 4%;
}

#features h2{
	color: #7c7c7c;
	font-size: 18px;
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
	padding-left: 4%;
	padding-right: 4%;
}

footer {
	font-size: 14px;
	background-color: #ffffff;
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 272px;
}

#appreciation-text {
	color: #3a3a3a;
	-webkit-text-stroke: 0.5px;
	position: relative;
	top: 15px;
	left: 60px;
}

#copyright-text {
	position: relative;
	top: 40px;
	left: 60px;
}
