@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

/* PHONE 767px */
@media screen and (max-device-width: 767px) {
	.nav-hold {
		background-color: none;
		padding: 0% 5%;
	}

	.nav-menu {
		float: right;
		color: #f9f9f9;
		display: block;
		padding-top: 8%;
		padding-right: 2%;
		cursor: pointer;

		font-weight: bold;
		text-transform: uppercase;
	}

	.nav-hold-open {
		background-color: #151926;
	}

	.nav-list {
		color: #128181;
		float: left;
		display: block;
		width: 100%;
		overflow: hidden;
		padding-bottom: 0;
		padding-left: 0;
		height: 0;
	}

	.nav-list-open {
		padding-bottom: 4%;
		padding-left: 4%;
		height: auto;
	}

	.nav-list li {
		float: none;
		padding-top: 2%;
	}
	.nav-list li a:hover {
		border-bottom: none;
	}

	/* END OF NAV QUERIES */
	.top-bar-section #main-text {
		font-size: 1.4em;
	}

	.button-container {
		display: none;
	}
	.button-container-small {
		display: inherit;
	}
	.button-container a{
		transition: none;
	}
	#signup-button {
		padding: 8px 8px;
		padding-right: 18px;
	}
	.button-container a:hover {
		background: #f06d26;
		cursor: pointer;
	}

	#testimonials-section {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -webkit-flex;

	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -moz-box-align: center;
	    -webkit-box-align: center;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;

	    //align-items: stretch;
	}

	#testimonials-section h1 {
		font-size: 1.6em;
		text-align: center;
		width: 95%;
		margin-bottom: auto;
	}
	#testimonials-section #topic {
		-webkit-order: 2;
		-ms-flex-order: 2;
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		order: 2;
		width: 90%;
		margin: 0 0;
		margin: 0;
		text-align: center;
		margin-bottom: auto;
	}
	#testimonial1 {
		-webkit-order: 3;
		-ms-flex-order: 3;
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		order: 3;
		float: none;
		margin: 0;
		padding: 2% 0 4% 12%;
		margin-bottom: auto;
	}
	#testimonial2 {
		-webkit-order: 4;
		-ms-flex-order: 4;
		-webkit-box-ordinal-group: 4;
		-moz-box-ordinal-group: 4;
		order: 4;
		float: none;
		margin: 0;
		padding: 2% 0 4% 12%;
		margin-bottom: auto;
	}
	.testimonial-box {
		width: 100%;
		//margin: 0 auto;
		padding: 0 2%;
	}
	#topic-icon {
		-webkit-order: 5;
		-ms-flex-order: 5;
		-webkit-box-ordinal-group: 5;
		-moz-box-ordinal-group: 5;
		width: 95%;
		margin: 0 auto;
	}
	#features h1 {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 459px) {
	#topic-icon {
		display: none;
	}
}

@media screen and (max-width: 914px) {
	.button-container {
		display: none;
	}
	.button-container-small {
		display: inherit;
	}
}
