@-ms-viewport {width: device-width;}
@viewport {width: device-width;}

/* PHONE 767px */
@media screen and (max-width: 767px) 
{
	.nav-hold {
		background-color: none;
		padding: 0% 5%;
	}

	#nav-menu {
		float: right;
		color: #f9f9f9;
		display: block;
		padding-top: 8%;
		padding-right: 2%;
		cursor: pointer;

		font-weight: bold;
		text-transform: uppercase;
	}

	.nav-hold-open {
		background-color: #151926;
	}

	.nav-list {
		color: #128181;
		float: left;
		display: block;
		width: 100%;
		overflow: hidden;
		padding-bottom: 0;
		padding-left: 0;
		height: 0;
	}

	.nav-list-open {
		padding-bottom: 4%;
		padding-left: 4%;
		height: auto;
	}

	.nav-list li {
		float: none;
		padding-top: 2%;
	}
	.nav-list li a:hover {
		border-bottom: none;
	}

	/* END OF NAV QUERIES */
	.top-bar-section #main-text {
		font-size: 1.4em;
	}

	.button-container {
		display: none;
	}
	.button-container-small {
		display: inherit;
	}
	.button-container a{
		transition: none;
	}
	#signup-button {
		padding: 8px 8px;
		padding-right: 18px;
	}
	.button-container a:hover {
		background: #f06d26;
		cursor: pointer;
	}

	#features h1 {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 914px) 
{	.button-container {
		display: none;
	}
	.button-container-small {
		display: inherit;
	}
}